<h1 class="titleText2">{{'EDITAR PREGUNTA' | oTranslate }}</h1>

<o-form #formQuestion entity="question" service="questions" keys="question_code" header-actions="U"
    show-header-navigation="no" keys-sql-types="STRING" class="form-background">

    <div>
        <div class="center">
            <!-- Fila del formulario -->
            <o-row class="form-row">
                <o-text-input class="input-padding" attr="question_code" fxFlex="40" required="yes" class="margin"
                    enabled="no"></o-text-input>
                <o-text-input class="input-padding" attr="question" fxFlex="100" required="yes"></o-text-input>
            </o-row>
            <o-row>
                <o-text-input class="input-padding" attr="explication" fxFlex="40" required="yes"></o-text-input>

                <o-combo #aptitudeCombo attr="aptitude" label="Aptitud" service="aptitudes" entity="aptitudes"
                    keys="aptitude_id" value-column="aptitude_name" columns="aptitude_name;aptitude_id"
                    visible-columns="aptitude_name" required="yes" multiple="no" fxFlex sort="ASC" searchable="yes"
                    fxFlex="20" (onChange)="onAptitudeChange($event)">
                </o-combo>

                <o-combo #categoryCombo attr="category" label="Categoria" service="categoryAptitude"
                    entity="allCategoryAptitude" keys="aptitude_id" value-column="category_name"
                    columns="category_name,aptitude_id" visible-columns="category_name" required="no" multiple="no"
                    fxFlex sort="ASC" searchable="yes" fxFlex="20"></o-combo>
            </o-row>
            <div>
                <o-column>
                    <o-row>
                        <o-text-input class="input-padding" attr="answer1" fxFlex="50" required="yes"></o-text-input>
                        <o-slide-toggle attr="answer1_correct" label="" read-only="no"></o-slide-toggle>
                    </o-row>
                    <o-row>
                        <o-text-input class="input-padding" attr="answer2" fxFlex="50" required="yes"></o-text-input>
                        <o-slide-toggle attr="answer2_correct" label="" read-only="no"></o-slide-toggle>
                    </o-row>
                    <o-row>
                        <o-text-input class="input-padding" attr="answer3" fxFlex="50" required="yes"></o-text-input>
                        <o-slide-toggle attr="answer3_correct" label="" read-only="no"></o-slide-toggle>
                    </o-row>
                    <o-row>
                        <o-text-input class="input-padding" attr="answer4" fxFlex="50" required="yes"></o-text-input>
                        <o-slide-toggle attr="answer4_correct" label="" read-only="no"></o-slide-toggle>
                    </o-row>
                </o-column>
            </div>
        </div>
    </div>

</o-form>