<h1 class="titleText2">{{'AÑADIR USUARIO' | oTranslate }}</h1>
<o-form service="users" entity="user" keys="username" header-actions="R;I;U;D" show-header-navigation="no">
    <o-row>
      <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex>
        <o-row>
          <o-text-input class="input-padding" attr="username" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="surnames" fxFlex="40" required="yes"></o-text-input>
          <o-text-input class="input-padding" attr="password" fxFlex="40" required="yes"></o-text-input>
          <o-date-input attr="STARTDATE" fxFlex="20"></o-date-input>
        </o-row>
        <o-row class="form-row">
            <o-combo class="margin" attr="subscription_type" label="Tipo suscripción" required="yes" multiple="no" fxFlex
            [static-data]="getDataArraySubscripton()" [data]="getValueSimple()" value-column="key" columns="key;value" empty="no"
            visible-columns="value" sort="ASC" searchable="no">
            </o-combo>
          </o-row>
    
          <o-row class="form-row">
    
            <o-combo class="margin" attr="user_type" label="Tipo usuario" required="yes" multiple="no" fxFlex
            [static-data]="getDataArrayUserType()" [data]="getValueSimple()" value-column="key" columns="key;value" empty="no"
            visible-columns="value" sort="ASC" searchable="no">
            </o-combo>
          </o-row>
      </o-column>
    </o-row>
  </o-form>